@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-padding-top: 80px;
}

:root.dark {
  color-scheme: dark;
}

.radial-gradient {
  background: radial-gradient(circle, #211539, #090914);
}
